#start-btn {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, 15%);
  width: 20vw;
  height: 5vh;
} /*시작버튼*/
#intro {
  font-size: 145%;
}
/*이태호 TMI문제를 시작하려면 버튼을 누르세요*/
#help {
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%, 30%);
}
